.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.centerContainer {
  display: row;
  width: 700px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;

}

.inputField {
  margin-bottom: 10px;
  margin-top: 10px;

}

.inputFieldLabel {
  text-align: start;
  padding-left: 5px;
}

.submitButton {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 8px;
  width: 320px
}

.output {
  text-align: start;
  margin-left: 8px;
  border-radius: 12px;
  font-size: 20px;
  border-style: solid;
  border-color: blue;
}






